
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
html,
body {
  height: 100%;
  width: 100%;
}
body{
    overflow-x: hidden;
}
section {
  height: 100%;
  width: 100%;
  position: relative;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 100px;
}
.part2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
}
nav h1 {
  font-size: 50px;
}
nav h1 i {
  rotate: 45deg;
  display: inline-block;
  font-size: 55px;
}
nav h4 {
  font-size: 25px;
  font-weight: 500;
}
nav button {
  padding: 22px 40px;
  font-size: 22px;
  font-weight: 600;
  background-color: transparent;
  border-radius: 10px;
  border: 2px solid #000;
}
.center {
  padding: 70px 100px;
  height: 80%;
  width: 100%;
  display: flex;
}
.center-part1 {
  height: 100%;
  width: 44%;
}
.center-part2 {
  height: 100%;
  width: 56%;
  position: relative;
}
.center-part1 h1 {
    line-height: 1.2;
  font-size: 110px;
}
.center-part1 p{
    font-size: 30px;
    width: 95%;
    margin-top: 50px;
    margin-bottom: 35px;
}
.center-part1 button{
    background-color: black;
    color: #fff;
    border-radius: 15px;
    padding: 28px 40px;
    font-size: 25px;
    font-weight: 600;
    border: none;
}
.center-part2 img{
    height: 100%;
    position: absolute;
    right: 0;
}
.section1bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 120px;
}
.section1bottom img{
    height: 60px;
}
.section2{
    margin-top: 100px;
}
.section2 .services{
    padding: 40px 120px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 50px;
    margin-top: 30px;
}
.services h3{
    background-color: #9AE975;
    font-weight: 500;
    padding: 5px 10px 3px 10px;
    border-radius: 5px;
    font-size: 60px;
}
.services p{
    width: 40%;
    font-size: 20px;
    font-weight: 500;
}
.container{
    min-height: 86vh;
    width: 100%;
    padding: 40px 120px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap:80px;
}
.elem{
    flex-shrink: 0;
    height: 450px;
    width: 48%;
    border: 3px solid black;
    border-radius: 50px;
    box-shadow: 0px 15px 0px black;
    padding: 60px;
    display: flex;
}
.elem-part1{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.elem-part2{
    height: 100%;
    width: 50%;
}
.elem-part2 img{
    height: 100%;
}
.elem-part1 h2{
    font-size: 45px;
    width: 70%;
    padding: 0px 5px;
    background-color: #9AE975;
    border-radius: 10px;
    font-weight: 500;
}
.elem-part1 h4{
    display: flex;
    align-items: center;
    font-size: 25px;
    font-weight: 500;
    gap: 20px;
}
.elem-part1 h4 i{
    padding: 20px;
    background-color: black;
    font-weight: 900;
    color: #fff;
    border-radius: 50%;
}
.black{
    background-color: black;
}
.black h4{
    color: #fff;
}
.black h4 i{
    padding: 20px;
    background-color: white;
    font-weight: 900;
    color: black;
    border-radius: 50%;
}
.black h2{
    background-color: #fff;
    color: #000;
}

